body{
  margin: 10px;
}
.Col1{
  height: 100vh;
  background-color:#0BCBE7 ;
}
.Col2{
  background-image: linear-gradient(to right bottom, #79f060, #00f0a5, #00ebdb, #00e1f9, #6ed4fe, #81d3fc, #91d3fa, #9fd2f7, #8bddff, #75e8ff, #63f2fc, #5ffbf1);
}

.sub1{
  padding: 10px;
  
}
.sub2{
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 5px;
 
 
  
}